{% extends 'testapp/base.html' %}

{% block content %}

<div class="container" style="display:flex; flex-wrap: wrap; gap:8px; filter: drop-shadow(5px 5px 5px);">
    {% for food in food_list %}

    <div class="card my-3" style="width: 18rem; display: flex; align-items: center;">
        <img src="/media/{{food.img}}" class="card-img-top " alt="..." height="180" width="250">
        <div class="card-body">
            <h5 class="card-title">{{food.name}}</h5>
            <p class="card-text">
                <p>Price: {{food.price}}</p>
                <p>Type: {{food.category}}</p>
            </p>
        

            <form action="{% url 'add_to_cart' food.id %}" method="POST">
                {% csrf_token %}
                <input type="number" name="quantity" min="1" value="1" class="form-control mb-2" required>
                <button class="btn btn-success my-2" type="submit" >Add to Cart</button>
            </form>
            
            
            <!-- <a href="{% url 'add_to_cart' food.id %}" class="btn btn-success">Add to Cart</a> -->

        </div>
    </div>


    {% endfor%}
</div>

{% endblock %}